body {
    background: #2ba667;
}

.result-wrap {
    background: #2ba667;
    height: 100vh;
}

.footer-comp[data-v-075eaec1] {
    color: #ffffff;
    width: 7.1rem;
    padding: 0.36rem 0;
    margin: 0 auto;
}

.footer-comp .caict[data-v-075eaec1] {
    margin: 0.25rem 0.66rem 0.07rem;
}

.footer-comp .caict img[data-v-075eaec1] {
    width: 100%;
}

.result-wrap .greenBg[data-v-97f79f28] {
    background: url(../result_files/img_bg@3x.0055ee09.0055ee09.png) no-repeat;
    background-position-y: -21px;
    background-size: 100% 100%;
}

.result-wrap .greenBg .banner-img-holder[data-v-97f79f28] {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 2.48rem;
}

.result-wrap .greenBg .div-main[data-v-97f79f28] {
    width: 7.1rem;
    min-height: 7.58rem;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    border-radius: 0.24rem;
    overflow: hidden;
}

.result-wrap .greenBg .div-main .green[data-v-97f79f28] {
    background: url(../result_files/img_green@3x.86277116.png) no-repeat 50%;
    background-size: 100%;
}

.result-wrap .greenBg .div-main .top[data-v-97f79f28] {
    height: 0.64rem;
    overflow: hidden;
}

.result-wrap .greenBg .div-main .hidden-tel[data-v-97f79f28] {
    color: #46464c;
    font-size: 0.35rem;
    font-weight: 700;
    padding: 0.4rem 0 0.32rem;
    line-height: 1.2;
}

.result-wrap .greenBg .div-main .update[data-v-97f79f28] {
    font-size: 0.35rem;
    color: #94949e;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 0.36rem;
}

.result-wrap .greenBg .div-main .info .img-holder[data-v-97f79f28] {
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 auto 0.6rem;
}

.result-wrap .greenBg .div-main .info .img-holder .qr-img[data-v-97f79f28] {
    width: 100%;
}

.result-wrap .greenBg .div-main .bott[data-v-97f79f28] {
    width: 6rem;
    margin: 0 auto;
    color: #94949e;
    border-top: 1px solid #e4e4e4;
    font-size: 0.3rem;
    text-align: left;
    height: 1rem;
    line-height: 1rem;
}

.result-wrap .greenBg .div-main .bott .addr[data-v-97f79f28] {
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    font-size: 0.3rem;
}

.result-wrap .greenBg .tip[data-v-97f79f28] {
    margin-top: 0.2rem;
    font-size: 0.21rem;
    color: #fff;
}
